@font-face {
    font-family: 'hardball';
    src: url('Font/HardBall/i.f.c._hardball-webfont.woff2') format('woff2'),
    url('Font/HardBall/i.f.c._hardball-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hardball {
    font-family: hardball;
    font-size: 1.8rem;
}

html {
    font-size: 1em;
}

body {
    background-color: #da755c;
}

header {
    height: 100px;
    background-color: #900a00;
    box-shadow: 50px 0 5px black;
 }

.title {
    position: relative;
    top: 10px;
    font-size: 4em;
}

.my_navbar {
    background-color: #9C3822;
}

.my_nav-text-color {
    color: #361911;
}

.member_cards {
    background-color: #853c2b;
    border: black solid 1px;
}

.member_cards > .card-body > h3 {
    font-size: 2.2rem;
}

.article4 {
    height: 400px;
    background-color: greenyellow ;
}

footer {
    height: 15vh;
    background-color: cadetblue;
}

@media screen and (min-width: 768px) {
    .title {
        position: relative;
        top: -8px;
        font-size: 6em;
        height: 90px;
    }
}
